<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626247571177-k50qc5asovdsrint3gge59kn5b5ufbhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626247571177-k50qc5asovdsrint3gge59kn5b5ufbhh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626247571177-kpnv5of6dqr7aao42rpgqu507t04h252.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCz369FZ_nEXGgjHWky6klD5s62-h056xg</string>
	<key>GCM_SENDER_ID</key>
	<string>626247571177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metizCinema</string>
	<key>PROJECT_ID</key>
	<string>metizcinema-5734a</string>
	<key>STORAGE_BUCKET</key>
	<string>metizcinema-5734a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626247571177:ios:13adfa55a12a1b08f24278</string>
</dict>
</plist>